
/* Globals start */

:root {
	--color-accent: #02b3e4;
	--color-dark: #2d3c49;
	--color-light: #7d97ad;

	font-size: 16px;
	color: var(--color-dark);
	font-family: Raleway, Helvetica, sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 2em auto;
	padding: 1em;
}


/* Grid starts */
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.row [class^='col-'] {
	width: 100%;
}

/* // Grid ends */
/* // Globals end */


/* Header styles starts */
.header {
	font-size: 1em;
}

.header__wrapper {
	padding-bottom: 1em;
	border-bottom: 3px solid var(--color-light);
}

.header__logo {
	width: 100%;
	padding: .5em 0;
	text-align: center;
}

.header__logo__img {
	width: 100px;
}

.header__head {
	width: 100%;
	padding-top: 1em;
	text-align: center;
	text-transform: uppercase;
}

.header__head__name {
	font-size: 2.5em;
	font-weight: 100;
}

.header__head__sub {
	font-size: 1em;
	font-weight: 500;
}

/* // Header styles ends */





/* Center image starts */
.image-wrapper {
	padding: 2em 0;
}

.image-wrapper__img {
	width: 100%;
}
/* // Center image ends */




/* Projects section styles start */

.work {
	padding: 1em 0;
	text-align: center;
}

.work__title {
	color: var(--color-light);
	font-weight: 800;
	padding: 1em;
	font-size: 2em;
}

.work__project {
	font-size: 1em;
	word-wrap: break-word;
}
.work__project__wrapper {
	padding: 1em;
}

.work__project__img {
	width: 100%;
}

.work__project__name {
	font-size: 1.6em;
	text-transform: uppercase;
}

/* // Projects section styles end */









/* Media queries start */

	/* Desktop breakpoint */
@media (min-width: 800px) {

	.work {
		font-size: 1em;
	}

	.work__title {
		text-align: left;
		font-size: 2.8em;
	}

	.work .work__project__name.work__project__name.work__project__name {
		font-size: 1.4em;
	}

	.header.header {
		font-size: 1.4em;
	}

	.header__head.header__head {
		padding: 0;
	}

	.row .col-1.col-1 { width: 8.33%; }
	.row .col-2.col-2 { width: 16.67%; }
	.row .col-3.col-3 { width: 25%; }
	.row .col-4.col-4 { width: 33.33%; }
	.row .col-5.col-5 { width: 41.67%; }
	.row .col-6.col-6 { width: 50%; }
	.row .col-7.col-7 { width: 58.33%; }
	.row .col-8.col-8 { width: 66.67%; }
	.row .col-9.col-9 { width: 75%; }
	.row .col-10.col-10 { width: 83.33%; }
	.row .col-11.col-11 { width: 91.66%; }
	.row .col-12.col-12 { width: 100%; }
}


	/* Tablet Breakpoint */
@media (min-width: 500px) {

	body .work__project__name {
		font-size: 1.4em;
	}
	body .work__project:first-child {
		width: 100%;
	}
	body .work__project:first-child .work__project__name {
		font-size: 2em;
	}

	.header__logo {
		width: 30%;
		text-align: left;
		padding: 0;
	}

	.header__logo__img {
		margin-left: 1em;
	}

	.header__head {
		width: 70%;
		text-align: right;
		padding-top: 1em;
	}

	.row.row {
		flex-direction: row;
	}
	.row [class*='col-'] { width: 50%; }
}

/* // Media queries end */