
/* Reset v2 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* // End Reset v2 */




/* Globals start */

body {
	font-size: 16px;
	color: #2d3c49;
	font-family: "Raleway", "Helvetica", "sans-serif";
}

a {
	color: #2d3c49;
}

.container {
	max-width: 1200px;
	margin: 2em auto;
	padding: 1em;
}


/* Grid starts */
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.row [class^="col-"] {
	width: 100%;
}

/* // Grid ends */
/* // Globals end */




/* Header starts */
.header {
	font-size: 1em;
}

.header__wrap {
	padding-bottom: 1em;
	border-bottom: 3px solid #7d97ad;
}

.header__logo {
	width: 100%;
	padding: 0.5em 0;

	text-align: center;
}

.header__logo__img {
	width: 100px;
}

.header__head {
	width: 100%;
	padding-top: 1em;

	text-align: center;
	text-transform: uppercase;
}

.header__head__name {
	font-size: 2.5em;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.header__head__sub {
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

/* // Header ends */





/* Main image starts */
.image-wrapper {
	padding: 2em 0;
}

.image-wrapper__img {
	width: 100%;
}
/* // Main image ends */




/* Projects section styles start */

.work {
	padding: 1em 0;

	text-align: center;
}

.work__title {
	padding: 1em;

	color: #7d97ad;
	font-weight: 800;
	font-size: 2em;
}

.work__project {
	font-size: 1em;
	word-wrap: break-word;

	cursor: pointer;
}

.work__project:hover .work__project__name {
	color: #02b3e4;
}

.work__project__wrap {
	padding: 1.1em;
}

.work__project__img {
	width: 100%;
}

.work__project__name {
	padding-top: 0.5em;
	transition: color .2s ease-in-out;

	font-size: 1.4em;
	text-transform: uppercase;
}

/* // Projects section styles end */





/* Media queries start */

	/* Desktop breakpoint */
@media (min-width: 800px) {

	.work {
		font-size: 1em;
	}

	.work__title {
		text-align: left;
		font-size: 2.8em;
	}

	.work .work__project__name.work__project__name.work__project__name {
		font-size: 1.4em;
	}

	.header.header {
		font-size: 1.4em;
	}

	.header__head.header__head {
		padding: 0;
	}

	.row .col-1.col-1 { width: 8.33%; }
	.row .col-2.col-2 { width: 16.67%; }
	.row .col-3.col-3 { width: 25%; }
	.row .col-4.col-4 { width: 33.33%; }
	.row .col-5.col-5 { width: 41.67%; }
	.row .col-6.col-6 { width: 50%; }
	.row .col-7.col-7 { width: 58.33%; }
	.row .col-8.col-8 { width: 66.67%; }
	.row .col-9.col-9 { width: 75%; }
	.row .col-10.col-10 { width: 83.33%; }
	.row .col-11.col-11 { width: 91.66%; }
	.row .col-12.col-12 { width: 100%; }
}


	/* Tablet Breakpoint */
@media (min-width: 500px) {

	body .work__project__name {
		font-size: 1.4em;
	}
	body .work__project:first-child {
		width: 100%;
	}
	body .work__project:first-child .work__project__name {
		font-size: 2em;
	}

	.header__logo {
		width: 30%;
		padding: 0;

		text-align: left;
	}

	.header__logo__img {
		margin-left: 1em;
	}

	.header__head {
		width: 70%;
		padding-top: 1em;

		text-align: right;
	}

	.row.row {
		flex-direction: row;
	}
	.row [class*="col-"] { width: 50%; }
}

/* // Media queries end */
